In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset_url="https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv"
data=pd.read_csv(dataset_url, index_col=0)

In [ ]:
data

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2022-09-06,194614.0,259.0,230.000,7783.0,0.0,0.857,4853.282,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2022-09-06,12333163.0,1550.0,1188.714,256572.0,5.0,7.714,8857.522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2022-09-06,330283.0,62.0,180.857,3583.0,0.0,0.143,115697.566,...,7.100,51.200,NaN,2.890,78.57,0.795,NaN,NaN,NaN,NaN
DZA,Africa,Algeria,2022-09-06,270476.0,15.0,29.143,6879.0,0.0,0.143,6122.418,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
AND,Europe,Andorra,2022-09-06,46027.0,0.0,0.000,154.0,0.0,0.000,582369.613,...,29.000,37.800,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2022-09-06,761.0,0.0,0.000,7.0,0.0,0.000,65451.105,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-09-06,606189747.0,687204.0,573749.429,6505336.0,2317.0,2129.429,76642.701,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
YEM,Asia,Yemen,2022-09-06,11931.0,0.0,0.714,2155.0,0.0,0.000,361.747,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
ZMB,Africa,Zambia,2022-09-06,333124.0,38.0,43.143,4017.0,0.0,0.143,17106.859,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-09-06,256782.0,13.0,10.571,5596.0,0.0,0.429,16055.373,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

In [ ]:
data[["continent","location","total_cases","total_deaths"]].head(4)

         continent     location  total_cases  total_deaths
iso_code
AFG           Asia  Afghanistan     194614.0        7783.0
OWID_AFR       NaN       Africa   12333163.0      256572.0
ALB         Europe      Albania     330283.0        3583.0
DZA         Africa      Algeria     270476.0        6879.0

In [ ]:
data[["continent","location"]].head(4)

         continent     location
iso_code
AFG           Asia  Afghanistan
OWID_AFR       NaN       Africa
ALB         Europe      Albania
DZA         Africa      Algeria

In [ ]:
def diss(x,y):
   p=2
   m=0
   for row in["continent","location"]:
      if data[row][x] == data[row][y]:
         m+=1
      return (p-m)/p

In [ ]:
print(diss(1,1))
print(diss(1,2))
print(diss(1,3))

1.0
1.0
1.0